/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;  /* Aumentado para dar más espacio general */
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form select, form input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #45a049;
}

/* Aumentar el ancho del contenedor de resultados proporcionalmente */
.resultado {
    margin-top: 20px;
    background-color: #e8f4e8;
    padding: 20px;
    border: 1px solid #d3e4d3;
    border-radius: 4px;
    width: 100%;  /* Asegura que ocupe el ancho completo disponible */
    box-sizing: border-box;  /* Asegura que el padding se tenga en cuenta */
}

.resultado p {
    margin: 5px 0;
}

.resultado span {
    font-size: 1.2em;  /* Aumenta el tamaño de los resultados numéricos */
    font-weight: bold;
    word-wrap: break-word;  /* Asegura que los textos largos se ajusten */
}

.line-break {
  display: block;
}
