<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de Divisas</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <h1>Conversor de Divisas</h1>

    <form action="/" method="get">
        <label for="divisaOrigen">Divisa de Origen:</label>
        <select name="divisaOrigen" id="divisaOrigen" required>
            <option value="USD">USD (Dollar)</option>
            <option value="EUR">EUR (Euro)</option>
            <option value="ARS">ARS (Peso Argentino)</option>
            <option value="BOB">BOB (Boliviano)</option>
            <option value="BRL">BRL (Real Brasileño)</option>
            <option value="COP">COP (Peso Colombiano)</option>
            <option value="CLP">CLP (Peso Chileno)</option>
            <option value="PEN">PEN (Nuevo Sol Peruano)</option>
            <option value="PYG">PYG (Guaraní Paraguayo)</option>
            <option value="UYU">UYU (Peso Uruguayo)</option>
            <option value="GBP">GBP (Libra Esterlina)</option>
        </select>

        <label for="divisaDestino">Divisa de Destino:</label>
        <select name="divisaDestino" id="divisaDestino" required>
            <option value="USD">USD (Dollar)</option>
            <option value="EUR">EUR (Euro)</option>
            <option value="ARS">ARS (Peso Argentino)</option>
            <option value="BOB">BOB (Boliviano)</option>
            <option value="BRL">BRL (Real Brasileño)</option>
            <option value="COP">COP (Peso Colombiano)</option>
            <option value="CLP">CLP (Peso Chileno)</option>
            <option value="PEN">PEN (Nuevo Sol Peruano)</option>
            <option value="PYG">PYG (Guaraní Paraguayo)</option>
            <option value="UYU">UYU (Peso Uruguayo)</option>
            <option value="GBP">GBP (Libra Esterlina)</option>
        </select>

        <label for="cantidad">Cantidad:</label>
        <input type="number" name="cantidad" id="cantidad" required step="any" value="1">

        <button type="submit">Convertir</button>
    </form>

    <div class="resultado" style="margin-top: 20px;">
        <p>Conversión: <span th:text="${divisaOrigen}">USD</span> a <span th:text="${divisaDestino}">USD</span></p>
        <p>Resultado conversión entre divisas: <span th:text="${resultado}">0.00</span></p>
        <p>La tasa de cambio utilizada: <span th:text="${tasaCambio}">1.00</span></p>
    </div>
</div>
</body>
</html>
